.custom-navbar {
    font-family: 'Impact', sans-serif;
}


.navbar-nav .nav-link {
    font-size: 1rem;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* Change color on hover */
}

.navbar-nav .dropdown-menu {
    border-radius: 0.5rem;
}

.navbar-nav .nav-link.active {
    color: #ffffff; /* Active link color */
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #ffffff;
} 
